body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff3b0;
    font-family: script, cursive;
    color: #fff3b0;
}

.content::after,
.content::before {
    clear: both;
}

._block {
    position: relative;
    height: 25vh;
    width: 100%;
    background: #f28482;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.content:active ._block {
    height: 22vh;
}

/* The following block is to make the hover effect better but impacts mobile screen effects*/
/* 
.content:hover ._block {
    height: 20vh;
}

.content:hover ._block:hover {
    height: 40vh;
}

.content:hover ._block:active {
    height: 34vh;
} 
*/

._block:nth-of-type(1) {
    background: #fff3b0;
}

._block:nth-of-type(2) {
    background: #9e2a2b;
}

._block:nth-of-type(3) {
    background: #540b0e;
}

._block:nth-of-type(4) {
    background: #e09f3e;
}

.content.__open ._block {
    height: 0vh;
}

.content.__open ._block.__active {
    height: 100vh;
}

._content svg {
    width: 50%;
    top: -150px;
    opacity: 0;
}

.content.__open .__active ._content img {
    opacity: 1;
}

._spoiler {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Center the spoiler text */
    transform: translate(-50%, 250%);
    height: 20px;
    text-align: center;
    font-family: script, cursive;
    font-size: 10pt;
    margin-top: 2rem;
    color: #dddddd;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

._block:nth-of-type(2) ._spoiler {
    color: #471B1D;
}

._block:nth-of-type(3) ._spoiler {
    color: #471B1D;
}

._block:hover ._spoiler,
._block:hover ._spoiler img {
    opacity: 1;
}

.f1-image {
    width: 80px;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.content.__open ._content {
    opacity: 0;
}
.content.__open .f1-image {
    opacity: 0;
    height: 0px;
}

.content.__open h2 {
    opacity: 0;
    height: 0px;
}

.f1-gif {
    width: 100%;
    height: 0vh;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.content.__open .f1-gif {
    opacity: 1;
    height: 100vh;
}

h2 {
    margin: 0;
}
.blessings-text {
    color: #540b0e;
}