body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff3b0;
    font-family: script, cursive;
    color: #fff3b0;
    /* Remove blue highlighting effect */
    -webkit-tap-highlight-color: transparent;
}

.content::after,
.content::before {
    clear: both;
}

._block {
    position: relative;
    height: 25vh;
    width: 100%;
    background: #f28482;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.content:active ._block {
    height: 22vh;
}

._block:nth-of-type(1) {
    background: #fff3b0;
}

._block:nth-of-type(2) {
    background: #9e2a2b;
}

._block:nth-of-type(4) {
    background: #540b0e;
}

._block:nth-of-type(3) {
    background: #e09f3e;
}

.content.__open ._block {
    height: 0vh;
}

.content.__open ._block.__active {
    height: 100vh;
}

._content svg {
    width: 50%;
    top: -150px;
    opacity: 0;
}

.content.__open .__active ._content img {
    opacity: 1;
}

.f1-image {
    width: 80px;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.content.__open ._content {
    opacity: 0;
}

.content.__open .f1-image {
    opacity: 0;
    height: 0px;
}

.content.__open h2 {
    opacity: 0;
    height: 0px;
}

.open-frame {
    width: 100%;
    height: 0vh;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.f3-bg {
    background-image: url('f3.png');
    background-size: 100%;
}

.f4-bg {
    background-image: url('f4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.venue {
    width: 100%;
    height: fit-content;
}
.content.__open .open-frame {
    opacity: 1;
    height: 100vh;
}

h2 {
    margin: 0;
}

.blessings-text {
    color: #540b0e;
}

._block.__active .open-frame {
    display: flex;
}

.container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    min-width: 90%;
}

.photo {
    position: relative;
    width: 170px;
    height: 170px;
    overflow: hidden;
    transition: outline-offset 0.4s ease;
    cursor: pointer;
    z-index: 1;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    transition: .4s;
    cursor: pointer;
}

.text {
    position: relative;
    top: -9rem;
    right: -12rem;
    width: 180px;
    padding: 10px;
    color: #e09f3e;
    font-size: 17px;
    line-height: 1.4;
    transition: right 0.4s ease;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.show {
    opacity: 1;
}

.photo.active img {
    outline: none;
    outline-offset: 0px;
}

b {
    font-size: 21px;
    text-decoration: underline;
}

.f3-container {
    width: 1142px;
    margin: 0 auto;
}


body {
    background-color: #000;
}

.f3-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.f3-item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 25px 15px;
    overflow: hidden;
    border-radius: 28px;
    display: block;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    background-size: cover;
    overflow: hidden;
    position: relative;
}

.photo-1 {
    background-image: url('mehndi.jpeg');
}

.photo-2 {
    background-image: url('haldi.jpeg');
}

.photo-3 {
    background-image: url('sangeet.jpeg');
}

.f3-item-link:hover,
.f3-item-link:hover .item_date {
    text-decoration: none;

    color: #FFF;
}

.item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    opacity: 0;

    z-index: 2;
    position: relative;
}

.item_date-box {
    font-size: 18px;
    color: #FFF;
    opacity: 0;
    z-index: 2;
    position: relative;
}

.f3-item-bg {
    height: 128px;
    width: 128px;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.color1 {
    background-image: linear-gradient(90deg, #254441, #252f22);
}

.color2 {
    background-image: linear-gradient(90deg, #FAA916, #F6A135);
}

.color3 {
    background-image: linear-gradient(90deg, #cb6ce6, #9e0d63);
}

.head {
    text-decoration: underline;
    font-size: 28px;
}

@media only screen and (max-width: 979px) {
    .f3-item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .item_title {
        font-size: 24px;
        opacity: 0;
    }
}

@media only screen and (max-width: 767px) {
    .f3-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .f3-item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .item_title {
        min-height: 72px;
        line-height: 1;
        opacity: 0;
        font-size: 24px;
    }

    .f3-item-link {
        padding: 22px 40px;
    }

}