body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #d4a373;
    min-width: 480px;
}

.content::after,
.content::before {
    clear: both;
}

._block {
    position: relative;
    height: 25vh;
    width: 100%;
    background: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.content:active ._block {
    height: 22vh;
}

._block:nth-of-type(1) {
    background: #ccd5ae;
}

._block:nth-of-type(2) {
    background: #e9edc9;
}

._block:nth-of-type(3) {
    background: #fefae0;
}

._block:nth-of-type(4) {
    background: #faedcd;
}

.content.__open ._block {
    height: 0%;
}

.content.__open ._block.__active {
    height: 100vh;
}

._content svg {
    width: 50%;
    top: -150px;
    opacity: 0;
}

.content.__open .__active ._content img {
    opacity: 1;
}

._spoiler {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the spoiler text */
    width: 50px;
    height: 20px;
    text-align: center;
    font-family: script, cursive;
    font-size: 10pt;
    color: #dddddd;
    opacity: 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

._block:nth-of-type(2) ._spoiler {
    color: #471B1D;
}

._block:nth-of-type(3) ._spoiler {
    color: #471B1D;
}

._block:hover ._spoiler,
._block:hover ._spoiler img {
    opacity: 1;
}

.f1-image {
    width: 80px;
    right: 2.7rem;
    position: relative;
}